services:
  faculty-discovery-service:
    build: ./Discovery-Service
    container_name: faculty-discovery-service
    ports:
      - '8761:8761'
    healthcheck:
      test: ["CMD", "curl", "http://localhost:8761/actuator/health"]
      interval: 30s
      retries: 4

  faculty-config-service:
    build: ./Configuration_Service
    container_name: faculty-config-service
    ports:
      - '9999:9999'
    environment:
      - DISCOVERY_SERVICE_URL=http://faculty-discovery-service:8761/eureka
    healthcheck:
      test: [ "CMD", "curl", "http://localhost:9999/actuator/health" ]
      interval: 30s
      retries: 4
    depends_on:
      faculty-discovery-service:
        condition: service_healthy
  faculty-gateway-service:
    build: ./Gateway-Service
    container_name: faculty-gateway-service
    ports:
      - '8888:8888'
    environment:
      - DISCOVERY_SERVICE_URL=http://faculty-discovery-service:8761/eureka
    healthcheck:
      test: [ "CMD", "curl", "http://localhost:8888/actuator/health" ]
      interval: 30s
      retries: 4
    depends_on:
      faculty-discovery-service:
        condition: service_healthy

  faculty-security-service:
    build: ./Security-Service
    container_name: faculty-security-service
    ports:
      - '9090:9090'
    environment:
      - DISCOVERY_SERVICE_URL=http://faculty-discovery-service:8761/eureka
    healthcheck:
      test: [ "CMD", "curl", "http://localhost:9090/actuator/health" ]
      interval: 30s
      retries: 4
    depends_on:
      faculty-discovery-service:
        condition: service_healthy


  faculty-mysql-service:
    image: mysql
    container_name: faculty-mysql-service
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_PASSWORD: root
    ports:
      - '3306:3306'
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot" ]
      interval: 10s
      retries: 10



  faculty-filiere-service:
    build: ./Filiere_Service
    container_name: faculty-filiere-service
    ports:
      - '8081:8081'
    environment:
      - CONFIG_SERVICE_URL=http://faculty-config-service:9999
      - DISCOVERY_SERVICE_URL=http://faculty-discovery-service:8761/eureka
      - DB_URL=jdbc:mysql://faculty-mysql-service:3306/ex3_filiere?createDatabaseIfNotExist=true
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root
    healthcheck:
      test: [ "CMD", "curl", "http://localhost:8081/actuator/health" ]
      interval: 30s
      retries: 4
    depends_on:
      faculty-mysql-service:
        condition: service_healthy
      faculty-config-service:
        condition: service_healthy


  faculty-etudiant-service:
    build: ./Etudiant_Service
    container_name: faculty-etudiant-service
    ports:
      - '8082:8082'
    environment:
      - CONFIG_SERVICE_URL=http://faculty-config-service:9999
      - DISCOVERY_SERVICE_URL=http://faculty-discovery-service:8761/eureka
      - DB_URL=jdbc:mysql://faculty-mysql-service:3306/ex3_etudiant?createDatabaseIfNotExist=true
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root
    healthcheck:
      test: [ "CMD", "curl", "http://localhost:8082/actuator/health" ]
      interval: 30s
      retries: 4
    depends_on:
      faculty-mysql-service:
        condition: service_healthy
      faculty-config-service:
        condition: service_healthy


volumes:
  mysql_data: