<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- ============================= -->
    <!-- LOGSTASH : actif hors tests -->
    <!-- ============================= -->
    <springProfile name="!test">
        <appender name="LOGSTASH"
                  class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>logstash-service:7000</destination>

            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <mdc/>
                    <context/>
                    <logLevel/>
                    <loggerName/>
                    <threadName/>
                    <message/>
                    <logstashMarkers/>
                    <stackTrace/>
                    <pattern>
                        <pattern>
                            {
                            "app": "faculty-filiere-service",
                            "message": "%message"
                            }
                        </pattern>
                    </pattern>
                </providers>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="LOGSTASH"/>
        </root>
    </springProfile>

    <!-- ============================= -->
    <!-- TESTS : console uniquement -->
    <!-- ============================= -->
    <springProfile name="test">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>
